<div class="top-bar">
	<div class="pat-logo">PAT MCGRATH LABS</div>
	<div class="countdown-container">countdown clock</div>
</div>

<div class="bottom-bar">

	<!-- <div class="rx-only">
<p class="rx-tag">rx Only</p>
	<div class="" id="cmd">
	</div>
</div>
 -->

	<div class="email-field">Enter Your Email <span>&#9646;</span></div>
</div>