<div class="about-author-section cd-section" id="about-author-section">
  <div class="about-author-info-container">
    <div class="author-image-container">
        <!-- <img src="images/mathilde-photo.png" alt=""> -->
        <%= image_tag('mathilde-photo.png') %>
    </div>
    <div class="about-author-text">
        <p>
        <span>mathilde thomas</span> cofounded the all-natural skin-care line Caudalie with her husband after taking inspiration in the power of grapes from her parents' Bordeaux vineyard. Her company's products are available in more than fifteen thousand stores worldwide. Mathilde now lives in New York City with her family, where she heads Caudalie USA.
        </p>
        <!-- <div class="social-links">
            <ul>
                <li><a href="http://us.caudalie.com/">us.caudalie.com</a></li>
                <li><a href=""><i class="fa fa-facebook-official"></i> @mathilde_thomas</a></li>
                <li><a href=""><i class="fa fa-instagram"></i> @mathildethomas</a></li>
            </ul>
        </div> -->
    </div>
  </div>
  <div class="for-planet-image">
    <!-- <img src="images/1percent.png" alt=""> -->
    <%= image_tag('1percent.png') %>
  </div>
  <div class="for-planet-text">
    <p>All proceeds of the sale of The French Beauty Solution will be donated to 1% For The Planet. As a member of 1% For the Planet since March 2012, Caudalie donates 1 percent of its global sales to ecological NGOs that work in the most threatening regions of the world.</p>
  </div>
  <!-- <div class="preorder-button">preorder on amazon</div> -->
</div>