<div class="diy-container clearfix cd-section" id="diy-container">
  <div class="diy-header-container">
  	<h4>DIY Recipes from</h4>
	<h3>the french beauty solution</h3>
  </div>

  <!-- <div class="diy-image-container clearfix">
    <div><%#= image_tag('CrushedCabernet.png') %></div>
    <div><%#= image_tag('HealthyNailsPotion.png') %></div>
  </div> -->

  <div class="recipe-container">
  <div><%= image_tag('CrushedCabernet.png') %></div>
  	<h3>crushed cabernet scrub</h3>
  	<hr>
    <div class="diy-lists">
    	<ul>
    		<li>4 tablespoons organic brown sugar</li>
    		<li>2 tablespoons grape seeds</li>
    		<li>1/3 cup grape seed oil(add more if needed)</li>
    		<li>4 tablespoons raw organic honey</li>
    	</ul>
    	<ol>
    		<li>Place sugar and grape seeds in a microwaveable bowl</li>
    		<li>Pour on grape seed oil until they are fully saturated, then add honey and essential oils and mix well</li>
    		<li>Warm the mixture in microwave for 20-30 seconds</li>
    		<li>Add a few pumps of your favorite moisturizer</li>
    	</ol>
    </div>
  </div>
  <div class="recipe-container">
  <div><%= image_tag('HealthyNailsPotion.png') %></div>
  	<h3>healthy nails potion</h3>
  	<hr>
    <div class="diy-lists">
    	<ul>
    		<li>4 tablespoons organic brown sugar</li>
    		<li>2 tablespoons grape seeds</li>
    		<li>1/3 cup grape seed oil (add more if needed)</li>
    		<li>4 tablespoons raw organic honey</li>
    		<li>A few drops essential oil (optional)</li>
    	</ul>
    	<ol>
    		<li>Mix all ingredients together</li>
    		<li>Apply to nails as needed, and rub it in well</li>
    	</ol>
    </div>
  </div>
</div>