 <div class="header-preorder-container cd-section" id="header-preorder-container">
    <div class="header-full-content-container">
        <div class="book-cover-container">
            <%= image_tag('book-cover.png') %>
            <!-- <img src="images/book-cover.png" alt=""> -->
        </div>
        <div class="bookcover-header-text">
            <h1>the french</h1><h1>beauty solution</h1>
            <p>Time-Tested Secrets to Look and Feel Beautiful Inside and Out</p>
            <%#= image_tag('glyph.png') %>
            <!-- <img src="images/glyph.png" alt=""> -->
            <%= image_tag('signature.png') %>
            <!-- <img src="images/signature.png" alt=""> -->
            <!-- SIGNATURE GOES HERE. SVG? -->
            <div class="bookcover-header-buttons">
                <!-- <div class="about-author-button">about mathilde</div> -->
                <div class="preorder-button-container">
                    <div class="preorder-button">Order</div>
                    <div class="dropdown">
                        <a target="_blank" href="http://us.caudalie.com/the-french-beauty-solution.html"><div class="drop-item">Caudalie</div></a>
                        <a target="_blank" href="http://www.amazon.com/French-Beauty-Solution-Time-Tested-Beautiful/dp/1592409512/ref=sr_1_1?s=books&ie=UTF8&qid=1427745252&sr=1-1&keywords=the+french+beauty+solution"><div class="drop-item">Amazon</div></a>
                        <a target="_blank" href="http://www.barnesandnoble.com/w/the-french-beauty-solution-mathilde-thomas/1120625415?ean=9781592409518"><div class="drop-item">Barnes & Noble</div></a>
                        <a target="_blank" href="https://itunes.apple.com/us/book/the-french-beauty-solution/id934598132?mt=11&ign-mpt=uo%3D4"><div class="drop-item">iBooks</div></a>
                        <a target="_blank" href="https://play.google.com/store/books/details/Mathilde_Thomas_The_French_Beauty_Solution?id=bwsbBQAAQBAJ"><div class="drop-item">Google Play</div></a>
                        <a target="_blank" href="http://www.indiebound.org/book/9781592409518"><div class="drop-item">IndieBound</div></a>
                        <a target="_blank" href="http://www.penguin.com/book/the-french-beauty-solution-by-mathilde-thomas/9781592409518"><div class="drop-item">Penguin</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-closing-text">
        <p>Blending stories, science, DIY recipes, and tons of savoir faire, The French Beauty Solution is</p>
        <h2>the last beauty regimen you'll ever need.</h2>
    </div>
 </div>