<div class="reader-section clearfix cd-section" id="reader-section">
	<div class="glyph-container"><%= image_tag('glyph.png') %></div>

	<div class="chapter-buttons-container">
        <div class="reader-button chapter-1-button">introduction</div>
        <div class="reader-button chapter-2-button">chapter 1</div>
        <div class="reader-button chapter-3-button">chapter 2</div>
        <!-- <div class="download-pdf"><%#= link_to 'Download PDF', :controller => :home, :action => :download %></div> -->
        <%#= link_to "Download PDF", "/data/2014ENSpaMenu.pdf" %>
    </div>
	<div class="book-container">
		<div class="ipad-border">
            <div class="chapter chapter-1">
                <div class="chapter-textcontainer">
                    
                    <p>
                    I grew up in Grenoble, a French village nestled at the foot of the French Alps where the air was pure and clean and the mountain water icy crisp. My parents, Daniel and Florence Cathiard, my younger sister, Alice, and I lived on a farm with my maternal grandparents, Yvonne and Maurice, where we tended a vegetable garden and raised chickens and bees. My grandfather took me hiking all over the mountains, pointing out which plants were edible and which mushrooms were toxic, which herbs could cure a tummy ache and which would staunch a wound, which smelled intoxicatingly minty and which were so pungent they made my nose run.
                    </p>
                    <p>                    
                    I was lucky to have grown up in that magical place. Even though my grandparents were teachers and spent much of their time correcting papers and reading, they understood how to be one with nature, and they infused my childhood with their knowledge of plants and all growing things.
                    </p>
                    <p>
                    This was also the place where I learned my first beauty secrets. Even though we lived far from the high-end commercial fashion world of Paris, we had access to dozens of the best beauty regimens right in our own backyard. My grandmother would make a luscious facial mask from the honey in the beehive at the corner of our garden and would always be certain to gently pat some on my cheeks whenever she applied it to her own, because she knew how soothing and clarifying it was. She’d whip up a super-moisturizing and nourishing hair mask from fresh, green, pungent olive oil and rum and we’d sit together, giggling at the scent, till our hair was saturated. She recognized early on how much I loved different fragrances—we would do blind tastings of different herbs, like tarragon, thyme, basil, sage, and mint, and I could always differentiate them, even as a very small child—and wasn’t surprised at all when I told her I wanted to work in the beauty business.
                    </p>
                    <p>
                    As I grew older my grandmother and mother started teaching me their time-tested secrets to looking and feeling beautiful, inside and out—secrets they had learned from their own mothers. I was taught that beauty is not something you turn to in a panic when a wrinkle or pimple appears, but that it’s far more important to see it as a ritual, figuring out what routine works best and carrying that with us through our lives. I used those lessons as well as my love for the natural world when my husband, Bertrand, and I founded our skincare company, Caudalie, in 1995, and they were reinforced whenever I returned to the Alps, or went to the vineyard in Bordeaux that my parents bought in 1990.
                    </p>
                    <p>
                    But it wasn’t until Bertrand and I moved with our children from Paris to New York City to grow Caudalie USA in 2010 that I realized that the French attitude toward beauty was not the same as the American one. Learning about and understanding these nuances was absolutely fascinating to me, and as I traveled all over the country, visiting many of the 350-plus Sephora, Nordstrom, and Blue Mercury stores that carry Caudalie products, meeting personally with thousands of customers that year alone, I realized that American women could benefit from a little of my French beauty wisdom. That while millions of them consider beauty a priority in their daily routine, many of their habits are either too complicated, too expensive, too painful, or simply not effective. That is what inspired me to write The French Beauty Solution.
                    </p>
                    <p>
                    Whether I was in Cleveland, Ohio, or Cleveland, Florida, the same issues came up time and again as the women I met candidly discussed their beauty needs and desires. Even though I was asking them specifically about what they wanted from a skincare product, without fail, the conversations always veered away from skincare alone. All my customers wanted the same things: To have wonderful skin, simply and quickly. To age with grace. To lead a healthy lifestyle. To be fit and trim. To know which diets work and which don’t. To know how to do a cleanse if they feel the need. To manage their stress. To have a flawlessly made-up face and a doable hairstyle. And to have the kind of effortless beauty and sense of savoir faire that seem to be part of a Frenchwoman’s DNA.
                    </p>
                    <p>
                    “How do you do it?” these lovely women would ask. “How can I be more, you know, like the French?” I’d laugh and say it really wasn’t all that complicated, only to be met with skeptical smiles.
                    </p>
                    <p>
                    The women I spoke with would tell me how in awe they were of French stylishness, and I’d tell them how much we envied their beautiful teeth and gorgeous hair.
                    </p>
                    <p>
                    The more I talked to consumers, the more easily I could clarify what precisely differentiated the French beauty philosophies and habits from the American ones. I learned, of course, that one was not necessarily better than the other, but they were indeed different, and those differences, I believed, were causing the dissatisfaction among the Americans I spoke to. For the French, our beauty routine is predicated on prevention and upkeep and is regarded as an essential, ongoing investment. What I saw here, however, was much more of a tendency toward the quick solution. I was astonished at the inventiveness of ads extolling the next miracle in a jar—which, because these miracles are nonexistent, often lead women to spend a lot of money on a product only to give up on it when it doesn’t solve their problem immediately. And this is precisely what causes so many of the skincare issues women come to talk to me about in the first place—because even the best products need time to work!
                    </p>
                    <p>
                    Many of these women confessed that they made their beauty choices based on the erroneous notion of no pain/no gain, a deeply American concept that sometimes seems to be conquering the world. They’d tell me about shoes that pinch, crash diets that left them lightheaded, and skincare products that irritate their skin—because they felt they had to suffer to be beautiful!
                    </p>
                    <p>
                    Mon Dieu! I say to that, because the French notion of beauty is quite the opposite. We believe beauty is something to give you pleasure. Because when you feel good, you always look good. And what could be more pleasurable than a sinfully rich homemade honey face mask that costs pennies and takes one minute to whip up before leaving your skin shining, smelling delicious, and feeling like velvet? Or how about a glass of delicious red wine with your dinner to help you relax and fill your body with antioxidants that keep aging at bay? The notion of beauty should be, well, beautiful and pleasing to you above all. This is the biggest difference between the American and French approaches to beauty solutions.
                    </p>
                    <p>
                    I’ve spent the past two decades engrossed in the study of beauty and wellness, continually studying and testing (I’ve tested some products more than two hundred times!), educating myself on which ingredients pack the most punch while being affordable and as natural and safe as possible—a testament to the lessons I learned growing up.
                    </p>
                    <br>
                    <p>
                    Even with my upbringing and early lessons in beauty, I would not be writing this book if it weren’t for an unexpected encounter I had on a lovely cloudless October day in 1993. My then boyfriend, Bertrand, and I were staying with my parents at their vineyard, Château Smith Haut Lafitte, to help them with the harvest when a group of scientists from the University of Bordeaux paid us a visit—the vineyard is only a fifteen-minute drive from the center of Bordeaux and is a lovely place to visit, especially in the fall. These scientists were studying the chemical molecules and properties of grapes and grapevines, so it made sense for them to come to the place where some of the best grapes in the world are grown in order to make the best wines.
                    </p>
                    <p>
                    I was twenty-two and very curious to find out what aspects of the grapes had piqued the interest of university researchers, and my father connected the dots for me—he knew that one of the scientists, Professor Joseph Vercauteren, was researching grapes and the vines leftover after the harvest (and he also knew, of course, of my interest in the beauty business and that Bertrand wanted to create his own company). Bertrand and I met them among the grapes, and one of the scientists picked up a few of the grape stalks and a handful of grapes that had fallen on the ground and smiled.
                    </p>
                    <p>
                    “Do you know that you are throwing away treasures?” he said, meaning the grape seeds that are sent to the distillery after the harvest, once the grapes are pressed.
                    </p>
                    <p>
                    That was my introduction to Professor Vercauteren, the head of the Pharmacognosy (the study of medicine derived from plants) Laboratory at Bordeaux University of Pharmacy. Nor did I know he was one of the world’s leading experts on polyphenols, an anti-aging compound found in grapes and grapevines. (I didn’t even know what a polyphenol was!) Or that this simple concept would lead to my life’s calling: an all-natural beauty revolution based on the luscious, gorgeously ripe purple fruit hanging from the twisting vines that surrounded us.
                    </p>
                    <p>
                    Professor Vercauteren told Bertrand and me that he had recently discovered that grape polyphenols were the most potent natural antioxidants produced by nature, especially resveratrol, the polyphenol found in grape skins, seeds, and stalks. He believed resveratrol could enhance the lifespan of cells and help people live longer, healthier lives, which is why he was visiting vineyards. He was on a quest to harness these polyphenols so they could be put to their maximum use.
                    </p>
                    <p>
                    We chatted some more and ended up discussing what is known as the French paradox. This was all the rage at the time thanks to a recent episode of 60 Minutes featuring scientist Serge Renaud (from Professor Vercauteren’s alma mater), who had discussed the fact that although the French drink more red wine than practically anyone else (Italians are a distant second!) and consume a diet replete with rich food like cheese, butter, and beef, they nevertheless have the lowest level of cardiovascular disease in the Western world. What could account for it? The answer was all around us: the regular, moderate consumption of red wine. Professor Vercauteren explained that many of the health benefits of the French diet were found in the antioxidant polyphenols in red wine—the very same compound he was studying.
                    </p>
                    <p>
                    As soon as we heard that, Bertrand and I threw each other a glance. Bertrand had always had an entrepreneurial edge to him, and I had been studying near Grasse with different “noses” (the term for a fragrance expert) in the hopes of pursuing a career in the fragrance and skincare business. The conversation with Professor Vercauteren got us thinking. Here we were, with all these resveratrol-rich grapes at our fingertips—why not explore what polyphenols might be capable of doing for something beauty-related?
                    </p>
                    <p>
                    So we set up a second meeting with Professor Vercauteren for the very next day. We continued to discuss the French paradox, and he elaborated on his research. He told us that he’d developed a medication called Endothelon, designed to improve blood circulation, that was made from grape seed polyphenols and had been doing the scientific work necessary to receive the French equivalent of FDA approval for the drug. He took the research a step further by stabilizing the polyphenols with a fatty acid, making them more bioavailable. Before Professor Vercauteren’s patented discoveries, the only way to use polyphenols was to ingest them, but he had figured out a way to use them topically. Not only that, but he was also able to stabilize the polyphenols so that they would stay potent and to patent his process—this patent was vitally important because it was the only way that polyphenols could effectively be used as anti-aging wrinkle fighters in skincare products.
                    </p>
                    <p>
                    Something about our youthful eagerness and determination must have intrigued this brilliant scientist, because we somehow managed to convince him to work with us. In 1994, Bertrand and I quit the jobs we loved, and from that unassuming day in the sun, a global skincare empire—our life’s work, Caudalie—was born.
                    From day one, we wanted Caudalie to be based on the same principles that surrounded me in the Alpine village of my childhood: the best of nature, eating well and breathing in pure clean air, being comfortable in your own skin as you hiked up a mountain trail, and studying hard to understand the power of science and the world around us. We launched our company in 1995 with two creams and a dietary supplement produced in very small quantities. From these humble roots to today’s boutiques and spas, we have worked incredibly hard to build a globally successful business.
                    </p>
                    <p>
                    I hope you will see The French Beauty Solution as the very best of the French attitude toward beauty and skincare filtered through my experiences of learning what American women truly want. I have dedicated my life to discovering and harnessing the most potent ingredients from nature, and this book is infused with that knowledge as well as incredibly useful tips from some of the best beauty scientists, estheticians, and professionals around the world.
                    </p>
                    <h2>how to use this book</h2>
                    <p>
                    This book is divided into five parts. The first is about how your lifestyle affects your beauty, and the remaining four include practical tips so you can easily apply the French beauty philosophy to your daily routine.
                    </p>
                    <p>
                    Part I is loaded with advice on how to live a happy and healthy life the French way. Chapter 1, “The Essence of French Beauty,” is an overview of my philosophy and the Pleasure Principle, and in it I discuss iconic French beauties and how we feel about aging with grace. Chapter 2, “Eat Like the French for a Gorgeous Glow,” discusses our attitude toward food and explains how what you put in your body affects the outside as well. I eat tasty and nourishing food that energizes instead of drains—and these meals provide just what my skin needs, too. You’ll learn not so much what to eat, but how to eat, not only to improve your skin from the inside out, but also to gain optimal nutrition without gaining weight. Chapter 3, “Relaxation à la Française,” shows you how to recharge yourself while improving your health at the same time. We require a lot of energy to manage everything we need to do—get to work, take care of the kids, run the household—and I know I need to take care of myself if I want to stay healthy and be the best possible mom, wife, and entrepreneur I can be. Have you ever looked at nsomeone who was tired and frazzled and thought, “She’s beautiful!” I think non.
                    </p>
                    <p>
                    Part II tackles the science behind skincare. Chapter 4, “How Your Skin Ages,” gives you the basic facts on how the largest organ of your body works. Chapter 5, “Your Guide to Skincare Ingredients,” will teach you which ingredients work, which don’t, and which may even be dangerous to your health. This way, you can treat all your skincare concerns without succumbing to false advertising or shelling out money for useless products.
                    </p>
                    <p>
                    In part III, I show you how to adopt an effective skincare routine, and I provide recommendations designed to streamline your approach to meet your unique needs. Chapter 6 is about your face and neck, and chapter 7 deals with your body (including hands, feet, and nails) as well as the importance—and luxury—of fragrance. In chapter 8, you’ll find a variety of homemade recipes for your skin, many based on treatments that have been tested and are favorites both in our Caudalie spas as well as throughout France.
                    </p>
                    <p>
                    Chapter 9 in part IV will teach you everything you need to know about how the French do their makeup, and chapter 9 is devoted to haircare. I share my favorite tips and those of professionals so that you can use makeup to enhance rather than mask your innate beauty, and you’ll be able to streamline your hairstyling, too.
                    </p>
                    <p>
                    Finally, chapter 10 in part V shows you how a simple three-day grape detox can be revitalizing and therapeutic. Many people have no idea how to do a cleanse properly and too many are trying to do so in dangerous ways. I teach you how to reap the most benefits with a few days of targeted eating. All the information shared in this book has been tested at our Caudalie Vinotherapie Spas since 1999—and our clients have been enjoying the effects of our Grape Cleanse long before the recent liquid detox craze began.</p>
                    <p>Et voilà! Let me share my secrets with you!</p>
                </div>
            </div>
        	<div class="chapter chapter-2">
            	<div class="chapter-textcontainer">
                <h4>chapter 1</h4>
                <h2>the essence of french beauty</h2>
                    <p class="italicized">I feel the most beautiful when I’m happy, because only then can you let go of the fear and just exist in the moment. When people forget themselves, that’s when they are at their most beautiful.</p>
                    <p class="quote-source">–Juliette Binoche</p>
	                <p>Ah, the French. Love and light. Fashion and fantasy. Gastronomy and gamines. Baguettes and Bardot. Perfume and Paris. Sophistication and superiority. Vivaciousness and Versailles. And let us not forget the guillotine and the Gauloises that will put a swift end to your romantic romps on the banks of the Seine!</p>

	                <p>What is it about the French that seemingly leaves American women envious of our savoir faire? What made Edith Wharton claim that “The French woman is in nearly all respects as different as possible from the average American woman. The French woman is more grown-up. Compared with the women of France the average American woman is still in kindergarten.” Even as a proud Frenchwoman, I think Edith was being a little bit harsh. I have spent five years in America and have met thousands of women and can say that American women are often just as sophisticated and grown-up about their beauty and lifestyles as the French are. The difference lies in the way you show it.</p>

	                <p>Our love for luxe and elegance has always been the hallmark of French style. The nobility may have taxed the lower classes into revolt, with the infamous Marie Antoinette losing her once perfectly coiffed head, but they also were responsible for creating the fashion business and sumptuous style that became the envy of Europe. Compared with the bejeweled and beribboned and bewigged frippery of the French court, our modern-day beauties are positively peasants—but they still strive for that inimitably stylish elegance.</p>

                    <p>Beauty is an art de vivre (“art of living”) for Frenchwomen. It is about choosing only the best and understanding that you are entitled to have a beauty routine that makes you look and feel beautiful at the same time. At an early age, we figure out what suits us best, and we set the trends—not follow them. We know that less will always be more, there is no “right” way to be beautiful, and most of all, how you feel about yourself, no matter what your age, is even more important than how you look. It also doesn’t hurt that being witty, savvy, smart, and cultured are as essential to beauty as having great skin. Follow these principles and you’ll be like the French in no time at all.</p>
                    <h2>the essentials of french beauty</h2>
                    <h3>Live by the Pleasure Principle</h3>

                    <p>The Pleasure Principle is pretty simple. All it means is that your beauty routine should make you feel good at the same time it makes you look good.</p>
                    <p>Luckily, adapting this attitude into your skincare routine is incredibly easy. Once you realize that the best skincare will give you clinically tested and proven results without a clinical, medicinal feel, you’ll realize that skincare isn’t a luxury—but rather that it can and should be luxurious, enticing all your senses and making you feel good while it works.</p>
                    <p>The Pleasure Principle makes it easier for you to make better choices, because you not only have to love what you use but also use what you love. We believe that good skincare isn’t about using trendy, hyped, or absurdly expensive products, but about using the most potent and effective ingredients—the ones that have been proven to work for you. We expect them to be deliciously scented, with a texture that feels wonderful on the skin, and with ingredients that are as pure and natural as possible. If it burns or causes redness or smells like something you could shine your car with, then it’s not for us. We want all our senses to be effortlessly engaged and believe there should be a palpable pleasure in pampering your skin.</p>
                    <p>The French have a reputation for being snobbish—see the section on Le Snob on page TK for more about that! But what some may consider arrogance is really an extension of our conviction that we deserve the best. Because we do—and so do you. Americans often believe that the best must also be the most expensive—especially when it comes to beauty products (how many of you bought your first skincare products at the drugstore but, as soon as you had more resources, started shelling out much more for the best products or treatments you could afford?) But for the French, the best does not have to be expensive. Though it’s true that high-quality products are often pricier than what you find at the drugstore, there are lots of great products—some of which you can make using ingredients in your kitchen!—that don’t have to cost a lot. The best products are those that are best for you—what works and what fits with your lifestyle.</p>
                    <p>The Pleasure Principle is about looking good and feeling good for your own sake—not because it’s trendy or to impress other people. This is why we’ll wear sexy lingerie underneath a simple button-down shirt and a pair of our favorite jeans. Who cares if no one else will see it? No plain cotton undies for us, merci beaucoup!</p>
                    
                    <h3>Good Skincare is Far Better Than Hiding Behind a Mask of Makeup</h3>

                    <p>My beauty routine isn’t just about what I put on my skin. It’s about all the habits that could have an effect on my skin—diet, environment, sleep, stress, work, travel, and, of course, my family and friends. Before you start to change your products and routines, you have to take a good look at how you treat your body, as it’s indelibly reflected in the quality of your skin.</p>

                    <p>For the French, skincare is all about prevention and treatment, but, because we follow the Pleasure Principle, it is not a chore. While we’d no more dream of sleeping in our makeup than we would eat our daily lunch at fast-food restaurants, the Pleasure Principle allows us to make the daily necessity of proper skincare as easy and as enticing as possible.</p>
                    <p>The keyword here is maintenance—and you’re never too young to start. When we were teenagers, my friends and I were sternly warned by our mothers not to set foot out the door without first applying an antioxidant moisturizer with SPF in the morning and to cleanse our faces particularly well at night. That set us up for a lifetime of a minimal yet effective skincare maintenance because the emphasis was on protecting the skin, not covering up flaws with pore-clogging foundation.</p>
                    <p>If we had acne, we hastened to the dermatologist and were given a range of treatment options, sometimes including birth control pills once we were sixteen or seventeen (mainly because they were such an effective weapon against pimples). In addition, because pharmacies in France are much more personalized than drugstores in America tend to be, with comprehensive skincare centers and pharmacists and other staff well trained in skin issues, we bought our products there and felt confident that they were effective.</p>
                    <p>My mother was far more obsessed with having shiny hair and smooth skin than she ever was about makeup. She loved to try new antiwrinkle creams, and her bathroom shelves looked like an apothecary, but she rarely used more makeup than a bit of mascara and a neutral lipstick. I followed her example and the first makeup product I ever bought was a super-sheer bronzer, Terracotta by Guerlain. My friends also bought it, and maybe we’d add a sheer lip gloss, a swipe of mascara on our top lashes, and a quick brush through our hair, and we were done.</p>
                    <p>When I tell this to the American women or their young daughters I meet on my travels, their eyes get wide. “Really?” they say. “That’s it?” I say yes, but I can tell they don’t believe me!</p>
                    <p>While I use a few more skincare products and my makeup bag is just a bit fuller now, this routine has barely changed two decades later. I started it so early that I prevented a lot of damage to my skin that would have happened otherwise.</p>

                    <h3>Less is More</h3>

                    <p>Many women think that in order to be as vibrant and remain as youthful as possible, they have to be on an endless starvation diet, shuddering at the mere thought of a slice of bread and sweet cream butter; work out like a fiend with a personal trainer or shred their muscles at CrossFit; swallow twenty-six different supplements every morning; slather on ultra-expensive creams, day and night; and have their cosmetic dermatologist on speed dial as they shell out thousands for lasers or injectable fillers or other painful procedures. Trust me—that is not the French way!</p>
                    <p>When American women tell me that their French counterparts make it “look so easy,” I tell them that’s because, for us, it is, but only because we streamline our beauty routine and know that less is more. Yes, it’s always fun to try some of the crazy new products out there—and because I need to constantly test new products for my business, I am always working on new items—but basically, as you’ll see in part III, it’s simple: cleanser, toner, eye cream, serum, and moisturizer with SPF in the morning, and ditto at night (without the SPF and always take off that eye makeup!). Exfoliate at least twice a week to remove dead skin cells. Use masks regularly for treatment and hydration. Voilà!</p>

                    <h3>Never Go on a Diet. And Never Eat Processed Food.</h3>
                
                    <p>Diets don’t work. Chapter 2 tells you how to eat like the French, so all I’ll say here is that dieting wreaks havoc not only on your metabolism but also your skin. Who wants to starve and have an ashy and wan complexion at the same time? Pas moi! Eating good, real, natural foods consistently—and especially cooking them yourself, so you can ensure that nothing processed, chemical, or artificial is included—and making sure you get the proper nutrients are key to looking good from the inside out. The French pay attention to what they eat . . . and drink. Vive le French paradox!</p>

                    <h3>A Glass of Red Wine at Dinner is Good for Your Skin (and Your Health)</h3>

                    <p>You’ll learn much more about the power of polyphenols and the other nutrient-laden compounds in red wine in parts II and V of this book, but suffice it to say here that one glass of red wine sipped slowly with your dinner will not only improve your meal but your health, too. It will also relax you and improve your look, and that will show most noticeably in your skin.</p>

                    <h3>Be Comfortable in Your Own Skin</h3>

                    <p>The summer I was thirteen, my parents sent me to a camp in California, not far from Los Angeles, with two of my French friends. After we got settled in and joined the other campers for sunbathing, we, naturally, took off our tops so we wouldn’t have to worry about tan lines from our bikinis (what can I tell you—we were still very young and didn’t think twice about sun damage!). Needless to say, this was a bit of a disaster, even though it was almost worth seeing the shocked looks of our fellow campers and counselors. I must confess that we had done it just a little bit to see if we could get away with it—but we also did it because we’d always done it. No one in France wears a top at the beach. Casual nudity was absolutely no big deal. It became a big deal only when people in California—the land of golden sunshine and soft sandy beaches so tantalizing to a French girl—tried to shame us. Fortunately, we knew our parents would roll their eyes at the prudish Americans. And they did.</p>
                    <p>The French definitely do not have the Puritan squeamishness about the human body and its functions that permeates a lot of American culture. We live in the land of the bidet, remember! And we are constantly amazed at how Americans will yell at a nursing mother to cover up when she tries to breastfeed in public, but have no problem with hypersexualized ads in magazines and on billboards where young women pose in next to nothing in order to sell designer jeans. That attitude has trickled down to my children, who now think that going topless on the beach or at home is “disgusting.” When I told my parents that my children referred to my post-shower nakedness as “inappropriate,” they howled with laughter. There is, after all, no proper translation in French for “inappropriate nudity” within the family home (or at the beach).</p>
                    <p>Our bodies, no matter their size, are wonderful creations. We were born nude and take off clothes out of necessity several times a day. I think this is one reason the French make beauty seem so effortless—we are raised to always feel good in our skin.</p>
                    <p>I think this is one of the reasons American women tend to package themselves and hide behind a mask of makeup. The hair is done just so and the makeup is flawless and the shoes are shiny and the outfit styled and coordinated. But if the woman behind it all is self-conscious, it shows. Beauty radiates from within and cannot be faked. It’s painfully obvious when someone is not at ease with herself. She’ll surreptitiously check the mirror every few minutes. She’ll ask her friends for reassurance. And she’ll go to the ladies’ room for a good cry if she asks the question, “Does my butt look big in this?” and doesn’t get the answer she craves within a nanosecond.</p>
                    
                    <h3>Embrace Your Quirks</h3>

                    <p>Perfection is boring. Frenchwomen don’t take ourselves too seriously, and neither should you!</p>
                    <p>It’s much easier to embrace your quirks when you are comfortable in your own skin, as I said above. The French are more accepting of idiosyncratic beauty, even flaunting it, while Americans fixate on the quirk and wonder why it’s been played up. Have a nose that’s a tad long, or ears that stick out a bit, or brows that are a little crooked, or lips with an unusual shape? Freckles that won’t quit? Who cares? They’re all fabulous.</p>
                    <p>Take Brigitte Bardot. She was jaw-droppingly beautiful and had the cutest overbite that made men go mad wishing they could kiss her. Americans looked at her and said, “Oh, yes, she’s gorgeous, she’s adorable, what a great figure in that white bikini, but did you see those teeth? What an overbite! Why didn’t she get them fixed?”</p>
                    <p>As you’ll see in the list of Iconic French Beauties on page TK, some of the most celebrated faces in France have a noticeable quirk, like the gap in Vanessa Paradis’s front teeth or Charlotte Rampling’s hooded eyelids or Charlotte Gainsbourg’s near plainness that can quickly morph into beauty, like that of her sister Lou Doillon. We also adore quirky beauty in women from other countries, like androgynous Tilda Swinton, Cindy Crawford and her famous mole, or Angelica Huston with her amazing Roman nose. It’s what makes these women even more memorable.</p>

                    <h3>Never Look as if You're Trying Too Hard</h3>

                    <p>The French love the no-makeup makeup look more than any other. Crave those smoky eyes? Très bien, but your lips should be bare. Love that new blood-red lipstick? Très bien, but your eyes should have nothing more than a hint of mascara.</p>
                    <p>Parisian women putting on their makeup are seemingly like ducks on a pond, gliding with ease. They make it look so effortless. What you don’t see, of course, is the effort that went into that effortlessness, just as you don’t see the duck’s webbed feet furiously paddling under water. And when you tell your French friends that their faces look amazing, they’ll say, “Oh, yes. But I did nothing, really. It’s so quick and easy. Just a bit of this and that, and voilà!”</p>
                    <p>In other words, the no-makeup makeup look does take time to master at first. That’s the key—at first. (Don’t worry—you’ll learn exactly what to do in chapter 8).</p>
                    <p>Strive for a calculated nonchalance in your behavior (no waiting by the phone for him to call, merci beaucoup!) and in your makeup and hairstyling. You’ll look French in no time at all. And you can finally throw away all those unused tubes and containers you know you’ll never use again.</p>

                    <h3>There's Always Another Lipstick</h3>

                    <p>Although the French are secure in what looks best on them, they’re always willing to try a new color or texture—and just as willing to chuck it if it doesn’t work. In other words, even the French, who adore the no-makeup makeup look, don’t want to get stuck in a beauty rut. Be adventurous within the parameters of what you know looks best on you.</p>
                    <p>And when you’re in the mood to be adventurous, do what my friend Delphine Sicard, a celebrated makeup artist said: “Bien sur, you should experiment with new stuff, but don’t be adventurous with boys. Be adventurous with your girlfriends first and ask them what they think. Then try it out on the boys and see what happens!”</p>

                    <h3>No Pain, No Gain, No Way!</h3>
                    <p>That great beauty demands great suffering is a concept guaranteed to make the French say, “La vie est trop courte.” Life is too short.</p>
                    <p>I think Americans are willing to undergo treatments that are very painful or too harsh because they think it makes them look better. The French believe that if a beauty treatment is painful, if the product stings, if something doesn’t feel right, if everyone says it’s the only way to go, it’s not a good thing to do, and we won’t do it!
                    </p>

                    <h3>Never Go to Bed with Your Makeup Still On</h3>

                    <p>Even if you’ve been up drinking Champagne with your lover all night, you will take off your makeup and wash your face, and you will hydrate it afterward. Your French maman would not be shocked by how much Champagne you drank—but she would be horrified if you fell asleep with your mascara on.</p>

                    <h3>Squeaky Clean Is for Windows-Not Your Face or Hair</h3>

                    <p>Many American women I’ve met told me that they were always instructed to wash their hair until it was squeaky clean. They’d lather, rinse, and repeat, and then wonder why their hair was so dry and damaged. Or they’d scrub their face until it was practically raw in an effort to catch every bit of dirt or oil that lingered. This is not only the antithesis of the Pleasure Principle, but it also strips off the natural oils that give hair its shine and give skin a vibrant texture. Go for the gentle to get the glow.</p>

                    <h3>Beauty Doesn't End at Your Chin</h3>

                    <p>The French consider the face to include everything that extends from the tip of your head down to your décolleté. That means you treat your neck and décolleté exactly as and when you treat your face. Don’t forget the rest of you, too! Read lots more about this in chapter 7.</p>

                    <h3>Professional Beauty Treatments Are a Necessity, Not a Luxury</h3>

                    <p>I discuss this at length in chapter 3, but we know that whatever a good, professional treatment costs is well worth it in superior results. We don’t consider regular facials to be a luxurious treat we’d indulge in maybe once a year. They’re a necessary part of our regular skincare regimen, and as there’s a cumulative effect from good treatments and the use of good products, that encourages us to keep up with this maintenance. Fortunately, treatments at salons or day spas are far less expensive in France (even in Paris) than they tend to be in America—probably because we go so often that the price can stay affordable. (Americans, on the other hand, have fantastically inexpensive nail salons, so you go for regular manicures while the French tend to do it themselves.)</p>
                    <p>According to my friend Dr. Bernard Hertzog, a cosmetic physician beloved by the beautiful ladies of Paris and London for his subtle ways with complexion-brightening mesotherapy that restore fullness to thinning faces, “Frenchwomen with no particular skin issues regularly get advice from their esthetician or a trained pharmacist who sells cosmetic products. Their approach is usually the same: Moisturize the skin and protect it from the sun, since UV rays’ harmful effects on the skin are more and more taken seriously in France and Europe.</p>
                    <p>“The bigger the skin issue is, the more medical its approach will be,” he adds. “When the skin issue is persistent or gets worse, they will consult a dermatologist. In that case, we are not in the cosmetic field anymore, but the medical one where the purpose is more therapeutic than cosmetic.”</p>
                    <p>Listen to Bernard and don’t treat your skincare as if it’s superfluous. Do you go to the dentist twice a year to make sure your teeth are clean and healthy? Why wouldn’t you give the same consideration to your skin?</p>

                    <h3>It's Not a Race</h3>

                    <p>As you’ll see in chapter 3, the French are much better at downtime and realizing that life may be short but it’s a not a sprint to the finish line. We don’t want to burn out because we feel the pressure, as so many American women do, to have babies and go to kickboxing class and have a high-pressure career and send their children to the “right” preschool. We look at that pressure with much sympathy and are grateful for our joie de vivre and long vacations—we know what all that stress does to our skin. I see that every day in New York. This is a truly wonderful city for working, but Paris is a truly wonderful city for living.</p>

                    <h3>Have a Lover Who Loves Your Body (and the Rest of You)</h3>

                    <p>French teenagers can sometimes be very naughty. We used to tease each other by saying, “The reason you get zits is because you don’t have a lover!” Mind you, we weren’t exactly ready for lovers when we were teenagers with zits.</p>
                    <p>But we did know that, when we grew up, making love was guaranteed to improve our complexion, giving our cheeks that unique rosy glow.</p>

                    <h3>Beauty Does Not Mean Only Youth</h3>

                    <p>It’s always a bit of a shock for me when I go back to France and see my longtime friends. They’re around my age and they’re still very beautiful—and they have the wrinkles that naturally come with being a woman in your forties. I don’t see that so much anymore in New York City, where women of a certain age have unnaturally plumped up their faces in an effort to get rid of any wrinkle or blemish that could signal how old they are.</p>
                    <p>But I think my best friends look better because they look like themselves. I know they’re never going to get to the point where their faces are totally smooth and plastic and the rest of them isn’t—they know, as I do, that as soon as you remove wrinkles from one area, they’re going to sprout somewhere else! The only thing that ever truly works is to protect yourself from the sun, stay hydrated with the best possible skincare products, and follow the tips in this book. That’s a lot easier than worrying over every new line that appears overnight.</p>
                    <p>Wrinkles are a sign that you’ve lived, and laugh lines are called that for a reason. Cherish the memories of your plump young cheeks and embrace the stunning cheekbones you have now. Confidence in your appearance and an air of contentment makes even an octogenarian look decades younger than a hipster trying too hard to be chic.</p>
                    <p>This reminds me of a little story an American friend recently told me: “I was in Paris for the first time and my boyfriend and I were having lunch at a small outdoor café on a warm summer’s day,” she said. “A Frenchwoman, probably in her late sixties or early seventies, sat down at a table next to ours. Obviously, Paris is great for people-watching, but I was particularly struck by her, as she was dressed better than most of the Frenchwomen I’d seen that week; better, in fact, than most people I encounter on a regular basis—and I live in New York City! She was wearing a light sweater with a nautical pattern and that fit her perfectly, impeccably tailored, khaki capris, saddle shoes, and a scarf—nothing fancy, but it suited her perfectly. And the shoes! They were bright orange—not an obnoxious orange but kind of a burnt orange. Very eye-catching but very classy. She just absolutely radiated style and chic.</p>
                    <p>“What struck me the most was that she looked amazing, but she also looked her age. She was dressed fashionably but she wasn’t trying to be too youthful. Her hair was a subtle silver, and not dyed an obvious color as a New Yorker of the same age would likely do. Unlike many Americans I know or have seen, she wasn’t trying too hard by wearing too-tight or ultra-trendy clothes; nor had she given up, embracing pants with elastic waistbands and dowdy tops. I realized that for the French, beauty is something that changes with age. What is beautiful at twenty is wholly different from what is beautiful at forty or sixty or beyond. The difference is, it’s still beautiful. When I looked at this woman, I didn’t think, ‘Oh, she looks good for her age.’ I thought, ‘She looks good. Period.’</p>
                    <p>This lovely Frenchwoman knew that style is everything when you age. You don’t want to look too bourgeois with hair too perfectly coiffed or too much masklike makeup on. A little bit of rock ’n’ roll attitude is a good thing.</p>
                    <p>Aging with grace means finding that healthy balance of your work life, family life, love life, and inner life, too. Coco Chanel once said, “As you get older, you get the face you deserve.” I don’t think she meant this in the nicest possible way, but I do think that if you’re always stressed or angry or frustrated, or if you hold on to what happened in the past and let that define your future, a certain hardness will creep into your features that will not make you look happy or the best you possibly can.</p>
                    <p>Also, if you focus solely on having a smooth complexion, you’re not only going to look older, but you’re also not going to be a very interesting person. After all, your appearance is only one aspect of what makes you unique, and uniquely beautiful. The more interests you have in life, the more interesting, curious, engaged, and sparkling you become.</p>
                    <p>The French attitude about aging is that it’s inevitable. You can fight it like the uber-ambitious women I see every day in New York. For them, aging is war and they are going to do whatever it takes to win every battle.</p>
                    <p>But the French know it’s a fight that can’t ever be won, because time never tires of marching on. Instead of fighting the inevitability of aging, we’re going to embrace it. We’re going to do what we can. We’re going to try to have a balanced life, to not just focus on our faces but on all the faces in our lives. We’re going to try to be generous and do the best we can, in every realm that’s important to us. Most of all, we’re going to live in the here and now—not the nebulous, unpredictable future—so we can be happy with what we’ve got and not what we’ll never have.
                    And we’ll always wash our faces every night!</p>
                    <div class="contrast-section">
                        <h2>iconic french beauties over fifty (and believe me, that is not old!)</h2>
                        <h3>Bridgitte Bardot</h3>
                        <p class="italicized-quote">"What could be more beautiful than a dear old lady growing wise with age? Every age can be enchanting, provided you live with it."</p>

                        <p>Blessed with the sexiest overbite ever, Brigitte (or BB, as the French loved to call her) was trained as a ballerina, giving her an openness with her body that had rarely been seen before. That she was beautifully proportioned and had an astonishing mass of thick blond hair didn’t hurt, either. Her iconic cat’s eye makeup and red lipstick have never gone out of style, but she has also unwittingly become the poster child for the effects of sun damage and heavy smoking on a woman’s skin. Back when she was rocking a bikini, sunscreen was barely used by consumers and women slathered on baby oil and baked themselves to get that Saint-Tropez tan. So her face may be heavily lined, but she is still BB and still a beauty.</p>

                        <h3>Juliette Binoche</h3>

                        <p class="italicized-quote">"Fighting the aging process just doesn’t work. I think that actresses, ultimately, are responsible for the faces we give to women. But I understand the fear, you know? I really do: It’s easy to think ‘I’ll never work again if I lose some of my beauty. . . . The thing is that I never felt beautiful. I think I can change my looks and be different things, but I’ve never thought of myself as this face."</p>
    
                        <p>Juliette positively radiates intelligence. She never wears a lot of makeup—she doesn’t need to. She does change her hairstyles quite a lot and looks equally good with short hair and bangs and with longer locks. She is a dazzling example of being at ease in her own skin. We were so happy when she was the godmother of our annual harvest festival Château Smith Haut Lafitte in Bordeaux, Les Accabailles, one year, too.</p>

                        <h3>Carole Bouquet</h3>

                        <p class="italicized-quote">"I was very shy. Being considered beautiful, I always felt that people were waiting for something more. I imagined you were supposed to have an intellectual ability—and I’m making no claims here—proportional to your supposed good looks . . . I felt I should be proving I deserved the attention; that I should be doing something special."</p>

                        <p>A former face of Chanel and well-known as one of the James Bond girls, Carole is the essence of Parisian chic, with perfectly symmetrical features. Her hair is always done simply and she doesn’t wear a lot of makeup—she didn’t even as a Chanel model. She is just classy and is aging beautifully with grace and style.</p>
                        

                        <h3>Catherine Deneuve</h3>

                        <p class="italicized-quote">"The way a woman ages has much to do with genetics. My mother has very good bone structure, which I have inherited, and it certainly helps. My mother also gave me my two most important beauty tips—to be careful of the sun and to drink lots of water."</p>

                        <p>There is a now-classic saying attributed to Catherine that goes something like this: “After the age of forty, a woman must choose between her ass and her face.” Meaning that as you grow older and the skin of your face loses its youthful contours, a bit of padding helps minimize wrinkles—but if your body is too thin, you’ll look gaunt and haggard. Funnily enough, Catherine has often claimed she never said that, but in any case, her posterior is still quite lovely and her face even more so. She may have had a bit of work done and she may not be as svelte as she was in Belle de Jour, but she is still ravishingly beautiful.</p>

                        <h3>Isabelle Huppert</h3>

                        <p class="italicized-quote">"I never really behaved as a beautiful person, even as a young adult. I never really trusted myself in that respect, but then when I look back, I think, 'Oh, after all, I was okay.'"</p>

                        <p>You don’t normally see a lot of freckles on French skin, but then again you don’t see a lot of women who look like Isabelle, either. Even though she has an air of impenetrability, which makes her one of France’s most accomplished actresses, you can’t take your eyes off her. Especially when she wears almost no makeup except a bright, matte red lipstick. Less is more!</p>

                        <h3>Charlotte Rampling</h3>
                        <p class="italicized-quote">"I have boxes of pictures of myself and have many of them framed. I’m always surprised to see that I looked like that."</p>

                        <p>What a perfect choice, at age sixty-eight, for the NARS makeup campaign in the fall of 2014. "She is a natural beauty that feels strong, yet relatable," François Nars himself told Women’s Wear Daily. Charlotte has an unusually masculine bone structure and deep-set eyes, giving her a naturally strong and fearless (and super-sexy) look. She is unabashed about the wrinkles that come with age, and I wish that more women followed her example because she is modern, rock ’n’ roll, and not too bourgeois.</p>
                    </div>
                    <h2>what makes you look old</h2>
                    <p>There are many things you might be inadvertently doing that add years to your appearance. Frenchwomen try their utmost to avoid what’s on this list:</p>
                    <ul>
                        <li>Foundation that’s too thick, too obvious, or that isn’t blended well. Having your face be a different tone from your neck or the rest of your body is a definite non.</li>
                        <li>A super-matte, powdered face.</li>
                        <li>Too much blush, or blush that isn’t the right (subtle) color.</li>
                        <li>Eyebrows that are too thin or the wrong shape for your face.</li>
                        <li>Creamy eye shadow that tends to crease in your lids as the day goes on.</li>
                        <li>Too much mascara, mainly because your lashes tend to thin out as you age. Avoid super-black and go for a more natural brown-black. Apply it only to the bottom part of your lashes instead of extending it all the way to the tips, and also avoid putting any mascara on your lower lashes.</li>
                        <li>Neon or super-bright colors. Soften your palette as you get older.</li>
                        <li>Lip liner that is obvious, especially if it’s darker than your lipstick.</li>
                        <li>Super-shiny lip gloss.</li>
                        <li>Borrowing your daughter’s lipstick (or anything else in her makeup bag, as well as in her closet—particularly her leather mini skirt).</li>
                        <li>Yellow teeth.</li>
                        <li>Gray hair that is not beautifully styled—lots of women look stunning with salt and pepper or silver or white hair, but once your hair color is gone, evening out the tone is crucial.</li>
                        <li>The same haircut you’ve had for decades.</li>
                        <li>The same hair color you’ve had for decades. When you get older, go softer and lighter.</li>
                        <li>Not eating well. When you starve yourself into thinness, it shows on your face. Or when you deprive yourself of delicious food, it makes you feel and look pinched.</li>
                        <li>Not getting enough sleep.</li>
                        <li>Too much stress.</li>
                        <li>Not being dynamic. Being out of shape is an instant ager.</li>
                        <li>Not being curious. Being interested in the world makes you look and feel young.</li>
                        <li>Not being open-minded. You know by now that the French aren’t as prudish as the Americans. We love our bodies and we love sex and we love talking about it. In addition, we’re part of Europe, and all we have to do is drive for a few hours to be in a different country where everything is different. It helps keep us adventurous.</li>
                        <li>Not challenging yourself. You can never, ever give up on life—or your appearance. Giving up instantly makes you look old. So you tried that diet and it didn’t work (because diets don’t work, no matter how much you stick to them)? Don’t just say, “Oh, I’m so fat, I’m never going to get it right. It’s not worth it.” Instead, say, “From now on, I’m going to eat like the French. I’m going to make the most delicious meals ever—just with smaller portions—and I’m going to savor every morsel, and I am going to lose weight and enjoy myself while the pounds are disappearing.” That is the kind of attitude that will immediately make you look and feel ten years younger.</li>
                        <li>Foregoing that glass of red wine with dinner.</li>
                    </ul>
                    <h2>what the french envy about the americans</h2>
                    <ul>
                    <li>Your beautiful breasts that always seem to be more shapely than ours, even if they really aren’t!</li>
                    <li>Your sparkling white, straight teeth, thanks to years of fluoride-rich water and good dentistry and orthodontia.</li>
                    <li>Your strong muscles and bones. Perhaps it’s the milk and meat and corn you tend to eat as part of your regular diet when growing up, but American women tend to look so much more fit and healthy than the French. Super-sporty cheerleaders and runners and gym-goers are always a source of awe.</li>
                    <li>Your amazing models. When I was a teenager, the top American models were Cindy Crawford, Christy Turlington, Janice Dickinson, Stéphanie Seymour, and Christie Brinkley. That hair, that skin, those glamazon legs, those powerful yet slim and shapely bodies! They exuded vibrant health and glamour without even trying.</li>
                    <li>Your amazing nails. The colors, the textures, the shapes. Our manicures and pedicures are very boring in comparison.</li>
                    <li>Your discipline when it comes to bad habits. Frenchwomen tend to smoke way too much. They know it’s a terrible, life-threatening habit, and they don’t beat themselves up about it—when they should. Americans can go to the other extreme of “Oh my god, I’m going to get cancer if I have one cigarette,” or “I’m an alcoholic if I have one glass of wine.” That attitude will automatically make us want to light up and then order a bottle of Champagne.</li>
                    <li>Your boundless energy. We just love America, and especially New York. Even though the city has been cleaned up in recent years, forcing out many of the artists and creative talent that gave New York its edge, there is still a special vibe and it is full of creative and ambitious people doing things to change the world. And, of course, Americans all over the country continually impress me with their innovation, ambition, gumption, and smarts, too.</li>
                    <li>Your innovation. American beauty companies are extremely competitive and always looking to launch the next big trend. Whatever they decide to release—whether it’s new peels, dynamic masks, or oils for cleaning your skin (a concept that took a while for Americans to understand, even though these products are incredibly good for your complexion)—will resonate all over the world. The raw ingredients may be sourced from other countries, but the know-how to get these products out onto shelves is thanks to the genius of American salesmanship and marketing.</li>
                    <li>Your in-your-face humor. The French aren’t very good at laughing at themselves. We can take ourselves way too seriously. I love seeing laugh lines on a woman because I know that whoever has them loves to find joy in everything she can.</li>
                    <li>Your willingness to tell all. In America, what you see is what you get; in Paris it takes way more time to break the eggshell around a person. We excel at keeping secrets, and that’s not always a good thing. Not being able to talk about how you feel is often incredibly stressful, and eventually that stress is going to make itself visible in your complexion—and every other aspect of your life.</li>
                    <li>Your complaining actually gets you somewhere. The French excel at complaining—but we often complain and then throw up our hands without accomplishing anything. If you, on the other hand, buy a new moisturizer and it doesn’t work as promised, you don’t hesitate to take it back and demand a refund. Because you know you’ll get one.</li>
                    <li>Your drive to succeed. The French can get a bit lazy, as sometimes they want to be happy rather than successful.</li>
                    <li>In America, anything is possible. French society is much more closed-off and caste driven (even if we claim it’s not). In France, who you are and where you were born defines many aspects of your life. In America, you can come from anywhere and end up on top. You can redefine yourself and start all over again and no one will bat an eyelash—in fact, they’ll encourage you to go for it.</li>
                    </ul>
                    <p>Just don’t get stuck in a beauty rut on your way to success!</p>

                    <div class="contrast-section">
                        <h2>iconic french beauties under fifty</h2>
                        <h3>Marion Cotillard</h3>
                        <p class="italicized-quote">"I'm never really aware [of my looks] because I'm not very interested in it. I don't need it."</p>
                        <p>Marion lives a quiet and simple life with her family near Bordeaux (where she likes to come to the Caudalie spa). She is passionate about using only the most natural and organic products on her skin—and it shows. She’s even more beautiful because she’s smart and stays true to her values and what she believes in. I can attest to the fact that she has the most perfect naked skin I’ve ever seen.</p>

                        <h3>Charlotte Gainsbourg</h3>

                        <p class="italicized-quote">"My mother is a great example of someone who has done nothing, although she was born very beautiful. She said that during the 1960s, due to all the makeup, all the girls looked the same. She said you should stay as authentic as possible."</p>

                        <p>Daughter of French icon and singer Serge Gainsbourg and fashion icon Jane Birkin, Charlotte has always been extremely slim, and has that wonderful edginess that makes her so effortlessly stylish. She is a nonconformist beauty, who can play the plain Jane and then tilt her head and become extremely beautiful—which is why she was perfectly cast as the eponymous heroine in one of the film versions of Jane Eyre.</p>

                        <h3>Eva Green</h3>

                        <p class="italicized-quote">"Everything is in the eyes. The soul is in the eyes, and it makes it sharper. I wear no makeup in real life. I’m very simple. That may be why I go over the top for the red carpet. But otherwise, I’m very plain. I should make more of an effort, actually."</p>

                        <p>Overtly sexual and sensual in her performances, Eva Green has a perfect pout and knows how to flaunt it. Of all the French beauties, she is the most American inasmuch as she tends to hide behind a mask of makeup—but only when she knows she’ll be in the public eye. It’s interesting to see her in photos with her twin sister; you can tell which one is the star who has a certain image to uphold.</p>

                        <h3>Sophie Marceau</h3>

                        <p class="italicized-quote">"I've never really been beautiful. I'm photogenic, which is very important, and now I'm getting older I’m aware I have to take care."</p>

                        <p>For me, Sophie is the epitome of a woman in her forties who is, of course, no longer very young but is still more than youthful in spirit. She’s the French equivalent of the stunning girl next door, a sort of Gallic version of Jennifer Aniston. I think she looks even better now than she did when she was starring in Braveheart. And she’s especially popular in Asia, where many women think of her as the epitome of French beauty.</p>

                        <h3>Vanessa Paradis</h3>

                        <p class="italicized-quote">“Why would I fix [my teeth]? I was born with them. I can spit water through them. They’re useful!”</p>

                        <p>The ageless gamine, Vanessa is a seamless blend of punk and hippie meets Chanel. She rarely wears makeup and the gap between her front teeth (called les dents du bonheur, or “lucky teeth”) only makes her more endearing. She is such a lovely person and happily admits that she is a lover of wine and beauty treatments. If you look at a lot of photos, you’ll see that taking care of her hair is low on her priority list—but she still manages to make bed head look stylish.</p>
                    </div>
            	</div>
        	</div>
        	<div class="chapter chapter-3">
            	<div class="chapter-textcontainer">
	                <h4>chapter 2</h4>
                    <h2>eat like the french for a gorgeous glow</h2>
                    <p class="italicized">I could never have been a model in the way actresses today are expected to be; I was never thin enough. I love a wonderful meal at the end of the day and a good Bordeaux. I try to be careful but I am not American—I am not always worrying about calories and working out.</p>
                    <p class="quote-source">–Catherine Deneuve</p>
                    <p>Good skincare starts the moment you wake up in the morning—with what you eat and drink. Ideally, a balanced diet full of antioxidant-laden vegetables and fruits, with only minimal amounts of processed or junk food, will give you the healthiest possible skin.</p>
                    <p>The typical French diet follows the guidelines of the Mediterranean-type diet: fresh vegetables and fruit, whole grains, nuts, legumes, olive oil, and fish, with some dairy, little meat, and even less processed food. A study called “Nutritional Skin Care: Health Effects of Micronutrients and Fatty Acids,” published in the American Journal of Clinical Nutrition in May 2001, supported the finding that eating a Mediterannean-type diet will make you live longer. What’s most important about this kind of eating is that these wholesome foods are not just powerhouses of nutrition but are loaded with omega-3 and omega-6 essential fatty acids, which are needed to keep your cell membranes healthy. And these foods are loaded with antioxidants, too—which you’ll read much more about in part II.</p>
                    <p>Because your skin is the largest organ in your body, it reflects what’s put into it when you eat—and not just what you eat, but how you eat. When you drink lots of good mineral water and tea and stay away from junk, your digestive system works as it should, and you glow (being constipated definitely has an unfortunate effect on your skin). When you eat enough of the good fats your body needs for energy and to produce the oils that make your skin look healthy, you glow. When you don’t go on starvation diets that make you feel and look pinched, you glow.</p>
                    <p>Read on, and I’ll show you what to eat and how to eat for optimum skin health.</p>



            	</div>
        	</div>
    	</div>
	</div>	
</div>