<div class="tour-container clearfix cd-section" id="tour-container">
	<h3>book tour dates</h3>

	<div class="tour-event">
		<div class="tour-dates">
			<h3>Los Angeles</h3>
			<p>lauderee | date time</p>
		</div><!--
		--><div class="tour-buttons">
			<div title="Add to Calendar" class="addthisevent">
	    	Add to Calendar
		    <span class="start">06/18/2015 08:00 AM</span>
		    <span class="end">06/18/2015 10:00 AM</span>
		    <span class="timezone">America/Los_Angeles</span>
		    <span class="title">Summary of the event</span>
		    <span class="description">Description of the event</span>
		    <span class="location">Location of the event</span>
		    <span class="date_format">MM/DD/YYYY</span>
			</div>
			<a class="sendmail los-angeles"href="">invite friends</a>
		</div>
	</div>
	<div class="tour-event">
		<div class="tour-dates">
			<h3>new york city</h3>
			<p>lauderee | date time</p>
		</div><!--
		--><div class="tour-buttons">
			<div title="Add to Calendar" class="addthisevent">
    		Add to Calendar
		    <span class="start">06/18/2015 08:00 AM</span>
		    <span class="end">06/18/2015 10:00 AM</span>
		    <span class="timezone">America/New_York</span>
		    <span class="title">Summary of the event</span>
		    <span class="description">Description of the event</span>
		    <span class="location">Location of the event</span>
		    <span class="date_format">MM/DD/YYYY</span>
			</div>
			<a class="sendmail new-york-city"href="mailto:?subject=I'd like to share this event with you!&body=The French Beauty Solution Book Signing Event with Mathilde Thomas">invite friends</a>
		</div>
	</div>
</div>