<h3>Add a New Member</h3>
<p>Please enter your email address to subscribe to our newsletter.</p>
<%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true") do -%>
   <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
   <%= submit_tag("Subscribe") %>
<% end %>
<div id="response">Response Will be displayed here</div>

<script type="text/javascript">
	$(document).ready(function() {
	$(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show("<%= asset_path('Edit-3.mp4') %>");
});
});
</script>