// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-sizer, .item {
  width: 25%;
}
.item img {
  display: block;
  width: 100%;
}


.item,
.grid-sizer {
  width: 20%;
}

.item {
  float: left;
  height: 100%;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.item--width2 { width: 40%; }
.item--height2 { height: 200px; }


@media handheld, screen and (max-width: 500px) {
}
/* READER SECTION END*/

@media handheld, screen and (min-width: 580px) {
}

/* NEW MEDIA QUERIES FOR MOBILE*/
@media handheld, screen and (max-width: 925px) {
}

@media handheld, screen and (max-width: 900px) {
}
@media handheld, screen and (max-width: 830px) {
}

@media handheld, screen and (max-width: 580px) {
 }

@media handheld, screen and (min-width: 1199px) {
  .about-author-text {margin-top: 100px;}
}

@media handheld, screen and (min-width: 660px) { 
}
@media handheld, screen and (min-width: 1400px) { 
}