// Place all the styles related to the mcsubscribe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: image-url("signup/Approved-Gold_Resized_All19.gif");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

body{
	// background:#FFF;
	color: #000;
	// font-size: 33px;
}
#cmd {
	position: relative; 
	border-bottom: 2px solid #000;
	float: left;
  padding-right: 20px;
  margin-left: 10px;
  width: 208px;
  text-align: center;
}
#cmd span{
	font-size: 42px;
	position: absolute;
	top:-20px;

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease;   
}

@-webkit-keyframes 'blink' {
    0% { opacity:0 }
    25% { opacity:1 }
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 0 }
}

.rx-only {
	font-size: .5em;
	width:	390px;
	float: right;
	.rx-tag {
		font-size: 1.2em;
		float: left;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}

// .patLabel {
// 	text-align: center;
// 	height: 80vh;
// 	img {
// 		padding-top: 30vh;
// 	}
	.patLabel {
	  text-align: center;
    // position: relative;
    margin: 25vh 0;
    background-color: #000;
    color: white;
    // visibility: none;
    // animation-name: expand;
 		// animation-duration: 2s;
 		// transition: max-height 3s;
 		left: calc(-50vw + 50%);
 		width: 100vw;
 		height: 0;
 		overflow: hidden;
	}

	.patLabel.open {
		// max-height: 30vh;
	}


