// Place all the styles related to the Onetests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: image-url("background.jpg");
	background-size: cover;
}

.top-bar,
.bottom-bar {
	position: fixed;
  background-color: #000;
  width: 100%;
  color: #fff;
}
.top-bar {
	top: -100px;
	height: 100px
}
.bottom-bar {
	bottom: -160px;
	padding: 30px 0;
	height: 160px;
}
.pat-logo {float: left; width: 40%; padding-top: 20px;}

.email-container {
	float: right;
	margin-right: 20px;
	.email-field { position: relative;}
	#email {
		background-color: #000;
		color: #fff;
    border: none;
    border-bottom: 1px solid white;
	}
	#subscribe {
    border: 2px solid white;
    background-color: #000;
    color: #fff;
    padding: 7px;
	}
	p {display: inline-block;}
	input {display: inline-block;}
}

// Terminal Indicator Start

.email-field span{
	font-size: 42px;
	position: relative;
	bottom:-9px;

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes 'blink' {
    0% { opacity:0 }
    25% { opacity:1 }
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 0 }
}
//  Terminal Indicator end

.countdown {
	text-align: center;
	font-size: 3em;
	letter-spacing: 6px;
}
