<div>left</div>
<div class="product-fixed-right">
	<div class="product-info-section">
		<h4 class="product-info-company">pat mcgrath labs</h4>
		<h2 class="product-info-name">0018</h2>
		<h4 class="product-info-price">$30.00</h4>
	</div>

	<div>Buy Now</div>

	<div class="product-specs">
		<p class="product-color">color: </p>
		<p class="product-dimensions">dimensions: </p>
		<p class="product-materials">materials: </p>
	</div>


</div>